<template>
    <div>
        <v-form >
            <h2>Create new poll!</h2>
            <v-container >
                <v-layout row wrap v-for="(item, index) in newPoll" :key="index">
                    <v-flex xs24>
                        <v-card>
                            <v-card-title>
                                    <v-text-field label="Your question" v-model="item.title"></v-text-field>
                            </v-card-title>
                            <v-card-title v-if="item.type == 'radioButton' || item.type == 'checkbox'">
                                <v-container grid-list-md>
                                    <v-layout align-center justify-space-between row fill-height>
                                        <h3>Add your variants</h3>
                                        <v-spacer></v-spacer>
                                        <v-checkbox v-model="item.haveCorrectVariant" label="Have correct variant" ></v-checkbox>
                                    </v-layout>
                                    <v-layout row wrap v-for="(variant, itemIndex) in item.variants" :key="itemIndex">
                                        <v-text-field label="Your answer variant" v-model="variant.title" ></v-text-field>
                                        <v-checkbox v-if="item.haveCorrectVariant" @change="removeCheckedItems(index, itemIndex)" v-model="variant.correct" label="Correct answer"></v-checkbox>
                                        <v-btn icon v-if="canDeleteItemVariant(index)" @click="deleteVariantInItem(index, itemIndex)">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-btn v-if="canAddItemVariant(index)" @click="addVariantToNewPollItem(index)">
                                            Add variant
                                            <v-icon>add</v-icon>
                                        </v-btn>
                                    </v-layout>
                                </v-container>
                            </v-card-title>
                            <v-card-title>
                                    <v-select
                                    @change="removeAllCheckedItems(index)"
                                    :items="newPollItemTypes"
                                    label="Answer Type"
                                    item-text="name"
                                    item-value="type"
                                    v-model="item.type"
                                    ></v-select>
                                    <v-btn icon v-if="canDeleteItem" @click="deleteItem(index)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>

                <v-btn v-if="canAddItem" @click="addItem()">
                    Add question
                    <v-icon>add</v-icon>
                </v-btn>

            </v-container>

            <v-container>
                <v-btn color="success" @click="addPoll">Add</v-btn>
            </v-container>

        </v-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: "AddPoll",
  components: {

  },
  data() {
    return {

    };
  },
  filters: {

  },
  watch: {

  },
  methods: {
    addPoll() {
        this.$store.dispatch('addPoll');
    },
    addItem() {
        this.$store.dispatch('addItemToNewPoll');
    },
    deleteItem(index) {
        this.$store.dispatch('deleteItemFromNewPoll', index);
    },
    deleteVariantInItem(itemIndex, variantIndex) {
        this.$store.dispatch('deleteVariantFromNewPollItem', {itemIndex, variantIndex});
    },
    addVariantToNewPollItem(index) {
        this.$store.dispatch('addVariantToNewPollItem', index);
    },
    canAddItemVariant(index) {
        return this.$store.getters.canAddItemVariant(index)
    },
    canDeleteItemVariant(index) {
        return this.$store.getters.canDeleteItemVariant(index)
    },
    removeAllCheckedItems(itemIndex) {
        this.$store.dispatch('removeAllCheckedItems', itemIndex);
    },
    removeCheckedItems(itemIndex, variantIndex) {
        this.$store.dispatch('removeCheckedItems', {itemIndex, variantIndex});
    },
  },
    computed: {
        ...mapGetters({
                user: 'userData',
                newPoll: 'newPoll',
                newPollItemTypes: 'newPollItemTypes',
                canDeleteItem: 'canDeleteItem',
                canAddItem: 'canAddItem',
        })
    },
  mounted() {

  }
};
</script>

<style>
.v-input--checkbox{
    max-width: max-content; margin-right: 0;
}
</style>
