<template>
    <div>
        <h3>{{user.name}}</h3>
        <h4>{{user.email}}</h4>

        <v-btn :to="{name: 'addPoll'}" color="success">Add new Poll</v-btn>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: "UserComponent",
  components: {

  },
  data() {
    return {

    };
  },
  filters: {

  },
  watch: {

  },
  methods: {

  },
    computed: {
        ...mapGetters({
                user: 'userData',
        })
    },
  mounted() {

  }
};
</script>